.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  margin-top: 150px;
  box-sizing: border-box;
  background: #343a40;
}

/* Login Sign up Page */

.not-signed-up {
  background-color: #3F8838;
  min-height: 30em;
  margin: -1px;
  width: 25rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-signed-ups {
  background-color: #3F8838;
  min-height: 30em;
  width: 25rem;
  margin: -1px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a, a:hover {
  color: antiquewhite;
  text-decoration: none;
}

.lead {
    font-family: Montserrat;
    font-size: 1em;
    color: black;
    letter-spacing: 0.12em;
}

.logo {
  display: block;
  margin: 17em auto 00em;
}

.sign-side-text {
  font-family: montserrat;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.1rem;
}

.sign-side-text-2 {
  font-family: montserrat;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

.icons{
  position: absolute;
  bottom: 0 ;
  left: 39%;
}

.icons-signup {
  position: absolute;
  bottom: 0;
  left: 39%;
}

.fa {
  cursor: pointer;
}